In [4]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [23]:
a = set('abracadabra')
a

{'a', 'b', 'c', 'd', 'r'}

In [24]:
a = set(['abracadabra', 'asdf'])
a

{'abracadabra', 'asdf'}

In [9]:
# a = set('abracadabra', "asdfa") # more than one arguments not allowed

In [16]:
a.add('z')
# a.add('z','b') # not allowed

In [20]:
b = frozenset('asdfagsa')
b

frozenset({'a', 'd', 'f', 'g', 's'})

In [21]:
cities = frozenset(["Frankfurt", "Basel","Freiburg"])
cities

frozenset({'Basel', 'Frankfurt', 'Freiburg'})

In [37]:
complex_num = 3.14j
type(complex_num)

complex

In [50]:
list = [123,'abcd',10.2,'d'] #can be an array of any data type or single data type.
list1 = ['hello','world']
print(list) #will output whole list. [123,'abcd',10.2,'d']
print(list[0:2]) #will output first two element of list. [123,'abcd']
print(list1 * 2) #will gave list1 two times. ['hello','world','hello','world']
print(list + list1)

[123, 'abcd', 10.2, 'd']
[123, 'abcd']
['hello', 'world', 'hello', 'world']
[123, 'abcd', 10.2, 'd', 'hello', 'world']

In [68]:
# print(list[0:-1])
# print(list[0:-2])
# print(list[1:-2])
# print(list[0:2])

# print(list[0:3])
# print(list[-2])

In [85]:
dic={'name':'red','age':10}
print(dic)
print(dic['name']) 
print(dic.values()) 
print(dic.keys())
dic['name'] = "blue"
dic

{'name': 'red', 'age': 10}
red
dict_values(['red', 10])
dict_keys(['name', 'age'])

{'name': 'blue', 'age': 10}

In [87]:
tuple = (123,'hello')
tuple1 = ('world',)
# print(tuple)
# print(tuple[0])
print(tuple + tuple1)
# tuple[1]='update'

(123, 'hello', 'world')