In [4]:
num1 = num2 = num3 = [1,2,3,4]
num2

[1, 2, 3, 4]

In [8]:
myList = [55,33,556,66]
myList[1]

33

In [10]:
x = [33,55,66]
x[0]

33

In [13]:
x[0] = 6666
x

[6666, 55, 66]

In [20]:
myList2 = [2,4,67,[333,566,777], 4,6,6]
myList2[3][1]

566

In [26]:
age = 45
age
type(age)
age = "faraz"
age
type(age)

str

In [28]:
def printmyname():
    return "faraz"
printmyname()

'faraz'

### The below code will throw error

In [38]:
#def printmyname():
#return "faraz"
#printmyname()

In [42]:
myList3 = [3,5,56,6]
type(myList3)

list

In [46]:
mynumber = 5
type(mynumber)

int

In [48]:
a = {1, 2, 'a'}
type(a)

set

In [52]:
a = {1: 'one',
 2: 'two'}
type(a)

dict

In [56]:
age = "12"
if isinstance(age, int):
    print("you can assign age here")
elif isinstance(age, str):
    print("You can not assign your age")

You can not assign your age

#### Implicit type conversion

In [60]:
a = 5 # int
a = "5" # string

#### explicit type conversion

In [63]:
a = '123'
b = int(a)
type(b)

int

In [66]:
a = "5"
converteda = int(a)
b = 6
converteda+b

11

In [71]:
a = 120.55
type(a)

b = int(a)
b

120

In [73]:
a = 'hello'
mylist = list(a) # ['h', 'e', 'l', 'l', 'o']
myset = set(a) # {'o', 'e', 'l', 'h'}
mytuple = tuple(a) # ('h', 'e', 'l', 'l', 'o')
a,mylist,myset,mytuple

('hello',
 ['h', 'e', 'l', 'l', 'o'],
 {'e', 'h', 'l', 'o'},
 ('h', 'e', 'l', 'l', 'o'))