In [22]:
fruits = ["Apple" , "Mango" , "Banana"]
fruits[2]

'Banana'

In [25]:
mixed_list = [1, 'abc', True, 2.34, None] # list can be of any type
type(mixed_list[0])

int

In [27]:
twoDiamentional = ["a" , "b" , ["aa" , "bb"] , "c"]
twoDiamentional[2][1]

'bb'

In [31]:
twoDiamentional[-1] = "C"
twoDiamentional

['a', 'b', ['aa', 'bb'], 'C']

In [34]:
fruits.append("Graphs")
fruits

['Apple', 'Mango', 'Banana', 'Graphs', 'Graphs', 'Graphs']

In [39]:
fruits.insert(1,"Orange")
print(fruits.insert(4,"Cherry"))

None

In [41]:
fruits

['Apple',
 'Orange',
 'Orange',
 'Orange',
 'Cherry',
 'Orange',
 'Cherry',
 'Orange',
 'Cherry',
 'Mango',
 'Banana',
 'Graphs',
 'Graphs',
 'Graphs']

In [49]:
fruits.remove("Cherry")

In [53]:
fruits.index("Cherry")

1

In [55]:
len(fruits)

8

In [57]:
fruits.count("Cherry")

2

In [64]:
rev = fruits.reverse()
rev

In [67]:
for elem in fruits:
    print(elem)

Apple
Cherry
Cherry
Mango
Banana
Graphs
Graphs
Graphs

In [81]:
fruits=["apple","banana","orange","grapes"]
fruits.append("kiwi")
fruits

['apple', 'banana', 'orange', 'grapes', 'kiwi']

In [86]:
fruits.insert(1,"pineapple")
fruits

['apple', 'pineapple', 'pineapple', 'banana', 'orange', 'grapes', 'kiwi']

In [88]:
fruits.index("banana")

3

In [89]:
len(fruits)

7

In [98]:
fruits.remove("banana")
fruits

['pineapple']

In [99]:
fruits.pop()
fruits

[]

In [103]:
ip_address = ('10.20.30.40', 8080)
ip_address.index(8080)

1

In [108]:
one_member_tuple = ('Only member',)
one_member_tuple

('Only member',)

In [111]:
one_member_tuple = tuple(['Only member', "two"])
one_member_tuple

('Only member', 'two')

In [115]:
Person = {
    "name" : "faraz",
    "fname" : "sayyaden",
    "learning" : "python"
}
Person
Person["name"]

'faraz'

In [123]:
for k in Person.keys():
    print(Person[k])

faraz
sayyaden
python

In [127]:
first_names = {'Adam', 'Beth', 'Charlie'}
first_names
for x in first_names:
    print(x)

Adam
Beth
Charlie